body{
  display: flex;
  justify-content: center ;
}

.img-container-holder{
  border-right: 2px;
  border-left: 2px;
  border-top:0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: black;
  width: 800px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap:2px;
  flex-wrap: wrap;
}

img{
  cursor: zoom-in;
}
#temp{
  
  
}
.img-container{
  

}